@tailwind base;
@tailwind components;
@tailwind utilities;

.bacasime-antique-regular {
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
  }

  .italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  p {
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
}

.navlink {
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
}

.navlink:hover {
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
    color: #746F72;
}

.name {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
}

.jobs {
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;

}

.root {
    background-color: white;

}

.title {
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vw;

}

@media screen and (max-width: 768px) {
    .navlinks {
        display: flex;
        flex-direction: column;
    }
    
}