@tailwind base;
@tailwind components;
@tailwind utilities;

.bacasime-antique-regular {
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
  }

  .italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  p {
    font-family: "Georgia", serif;
    font-weight: 1.5rem;
    font-style: normal;
}

.projecttitle {
    font-family: "Georgia", serif;
    font-style: normal;
    font-size: 2.5vh;
}
.navlink {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
}

.navlink:hover {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
    color: #746F72;
}


.jobs {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;

}

.root {
    background-color: white;

}

.title {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vh;

}

.container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .navlinks {
        display: flex;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto; 
      }
    .contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto; 
        gap: 1rem;
      }
    
}